
<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-white bg7">
            <form action="/otpverify" method="post">
              <h3 class="mb-5 text-center font-weight-bold">Enter OTP</h3>
              <div class="form-outline mb-4">
                
                  <div class="form-outline ">
                    <input type="otp" name="otpsignup" id="typePasswordX" class="form-control form-control-lg" placeholder="OTP" />
                  </div>
                 <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Submit</button>
              </div>
              
            </form>
            <p class="text-info text-center">OTP send to Your Email</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
